<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>
<div class="container">
    <h1 class="main-title">All Campgrounds</h1>
    <% for (let camp of campground) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <%if(camp.images.length) {%>
                        <img class="img-fluid" alt="" src="<%= camp.images[0].idx %>">
                    <% }else {%>
                        <img class="img-fluid" alt="" src="https://images.unsplash.com/photo-1616555846456-6d53b92669a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1333&q=80">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= camp.title %> </h5>
                        <p class="card-text"><%= camp.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= camp.location %></small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>">View <%= camp.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <% }%>
</div>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <%- JSON.stringify(campground) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>